/*env
/.vscode
job-script.sh
/job_results
**/__pycache__
train_models_*.sh
path.png
grid.png
**/steps
/artifacts
/run_agent_results
/run_instructions_results
/Research Results
/run_petting_zoo
/vexEnvRun
/vexEnvTraining